@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";

body {
  background-color: #0b0f1a;
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for a pro look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-[#161b2a];
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full hover:bg-slate-600;
}